{
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "useTabs": false,
  "arrowParens": "avoid"
} 